<ng-container *ngIf="property && filter">
    <tr>
        <th>No</th>
        <th class="header-data-table" *ngFor="let element of elements" (click)="sortBy(element.id)">
            <div class="row" style="min-width: 100px;   ">
                <span class="col-7">{{element.labelName}} </span>
                <span *ngIf="element.id == filter.orderBy" class="col-2">
                    <i [ngClass]="filter.orderType == 'asc'? 'fas fa-long-arrow-alt-up' : 'fas fa-long-arrow-alt-down'"></i>
                </span>
                <span  class="col-2" *ngIf="filter.orderBy != element.id " >
                    <i class="fas fa-sort"></i>
                </span>
            </div>
        </th>
        <th>Option</th>
    </tr>
</ng-container>

