<div *ngIf="!property" class="alert alert-warning">
    <h3>Loading Property</h3>
</div>
 <form ngNativeValidate  (submit)="loadItems(0)"  *ngIf="property">
    <h2>{{property.alias}}</h2>
    <div class="row">
        <div class="col-md-3">
            <ul class="pagination">
                <li class="page-item">
                    <a routerLink="/management" class="page-link border border-dark bg-dark text-white">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
                <li *ngIf="property.creatable === true" class="page-item">
                    <a routerLink="{{'/management/form/'+property.entityName}}" class="page-link border border-secondary bg-secondary text-white">Add Record</a>
                </li>
                <li class="page-item">
                    <button type="submit" class="page-link " >
                        <i class="fa fa-redo"></i>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-md-9" app-pagination-button 
            [currentPage]="filter.page"
            [totalData]="totalData"
            [limit]="filter.limit"
            (goToPage)="loadItems($event)"
            
        ></div>
    </div>
    <div class="border border-secondary" style="width: 80vw;  overflow: scroll;">
        <table class="table table-striped" >
            <thead app-data-table-header  (updateFilter)="updateFilter($event)"
                [property]="property" [filter]="filter"></thead>
            <tbody app-data-table-content *ngIf="items" [items]="items" [filter]="filter" [property]="property">

            </tbody>
        </table>
    </div>

</form>
 

