<div *ngIf="!property" class="alert alert-warning">
    <h3>Loading Property</h3>
</div>
<div *ngIf="property">
    <h2>{{property.alias}}</h2>
    <div class="row">
        <div class="col-md-2">
            <ul class="pagination">
                <li class="page-item">
                    <a routerLink="/management" class="page-link bg-dark text-white">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a routerLink="{{'/management/form/'+property.entityName}}" class="page-link bg-secondary text-white">Add Record</a>
                </li>
            </ul>
        </div>
        <div class="col-md-10" app-pagination-button 
            [currentPage]="filter.page"
            [totalData]="totalData"
            [limit]="filter.limit"
            (goToPage)="loadItems($event)"
            
        ></div>
    </div>
    <div class="border border-secondary" style="width: 80vw;  overflow: scroll;">
    <table class="table" >
        <thead app-data-table-header  (updateOrder)="updateOrder($event)"
            [property]="property" [filter]="filter"></thead>
        <tbody app-data-table-content *ngIf="items" [items]="items" [filter]="filter" [property]="property">

        </tbody>
        </table>
    </div>
</div>
 

