<div *ngIf="property">
    <h2>{{property.alias}}</h2>
    <div class="row">
        <div class="col-md-2">
            <ul class="pagination">
                <li class="page-item">
                    <a routerLink="/management" class="page-link bg-dark text-white">
                        <i class="fas fa-arrow-left"></i>
                    </a>
                </li>
                <li class="page-item">
                    <a routerLink="{{'/management/'+property.entityName}}" class="page-link bg-secondary text-white">
                        <i class="fas fa-list"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="border border-dark rounded">
        <form ngNativeValidate (submit)="submit($event)" style="padding: 10px; width: 80vw;">
            <ng-container *ngFor="let element of property.elements">
                <app-form-group *ngIf="element.editable" label={{element.labelName}}>
                    <ng-container *ngIf="element.identity !== true">
                        <input *ngIf="element.fieldType == 'FIELD_TYPE_TEXT' " [required]="element.required"  [(ngModel)]="model[element.id]"
                            class="form-control" autocomplete="off" placeholder={{element.labelName}} name={{element.id}} />
                        
                        <input type="number" *ngIf="element.fieldType == 'FIELD_TYPE_NUMBER' " [required]="element.required"  [(ngModel)]="model[element.id]"   
                            class="form-control" autocomplete="off" placeholder={{element.labelName}} name={{element.id}} />
                        
                        <input type="date" *ngIf="element.fieldType == 'FIELD_TYPE_DATE' " [required]="element.required"  [(ngModel)]="model[element.id]"   
                            class="form-control" autocomplete="off" placeholder={{element.labelName}} name={{element.id}} />
                        
                        <textarea  *ngIf="element.fieldType == 'FIELD_TYPE_TEXTAREA' " [required]="element.required"  [(ngModel)]="model[element.id]"  
                            class="form-control" autocomplete="off" placeholder={{element.labelName}} name={{element.id}} >
                        </textarea>

                        <div class=" form-check" *ngIf="element.fieldType == 'FIELD_TYPE_CHECKBOX' ">
                            <input class="form-check-input" name={{element.id}} type="checkbox" [required]="element.required"  [(ngModel)]="model[element.id]" />
                            <label class="form-check-label"  >{{model[element.id] === true?'Yes' : 'No'}}</label>
                        </div>
                        
                        <select *ngIf="isFixedList(element) && hasValue(element)" [required]="element.required"  name={{element.id}} class="form-control" > 
                            <option *ngFor="let option of element.options" (click)="updateField(element, option)"
                                [selected]="isJSONListSelected(element, option) ? true : false" 
                                value={{option[element.optionValueName]}}>
                                {{option[element.optionItemName]}}
                            </option>  
                        </select>
                        
                        <select *ngIf="element.fieldType == 'FIELD_TYPE_PLAIN_LIST'"  [(ngModel)]="model[element.id]" [required]="element.required"  name={{element.id}} class="form-control" > 
                            <option *ngFor="let option of element.plainListValues" [value]="option" >
                                {{option}}
                            </option>  
                        </select>
                    </ng-container> 
                    <ng-container *ngIf="element.identity === true && modelId === undefined">
                        <input type="text" value="Generated ID" class="form-control" readonly/>
                    </ng-container>
                    <ng-container *ngIf="element.identity === true && modelId !== undefined">
                        <input type="text" value={{modelId}} class="form-control" readonly/>
                    </ng-container>
                </app-form-group>
                <app-form-group *ngIf="!element.editable" label={{element.labelName}}>
                    <span *ngIf="model[element.id] && element.optionItemName">{{ model[element.id][element.optionItemName]}}</span>
                    <span *ngIf="!element.optionItemName">{{ model[element.id] }}</span>
                </app-form-group>
            </ng-container>
           
            
            <app-form-group label="">
                <input type="submit" class="btn btn-success" value="Save" />
            </app-form-group>
        </form>
    </div>
</div>
