<div class="container-fluid">
    <h2>Catalog</h2>
    
    <div class="row  mt-5" style="width: 70vw;">
        <div class="col-md-12">
          <form ngNativeValidate class="row form-filter mb-5" (submit)="loadItems(0)">
            <div class="col-md-3">
              <input type="search" class="form-control-sm" name="name" [(ngModel)]="filter.fieldsFilter['name']"
                placeholder="Serach by name.."/>
            </div>
            <div class="col-md-4"> 
              <select class="form-control-sm" name="sortBy" [(ngModel)]="filter.orderBy">
                <option value="name">Sort by name</option>
                <option value="price">Sort by price</option>
              </select>
              <select class="form-control-sm ml-2" name="sortType" [(ngModel)]="filter.orderType">
                <option value="asc">{{filter.orderBy=='price' ? 'low - high' : 'a-z'}}</option>
                <option value="desc">{{filter.orderBy=='price' ? 'high - high' : 'z-a'}}</option>
              </select>  
            </div>
            <div class="col-md-4">
              <input type="submit" class="btn btn-sm btn-primary" value="Search" />
            </div>
            
          </form>
        </div>
        <div app-catalog-item *ngFor="let item of items" class="col-md-3 " 
          [product]="item" > 
        </div>
    </div>

    <div app-pagination-button [currentPage]="filter.page"
      [limit]="filter.limit"
      [totalData]="totalData"
      (goToPage)="loadItems($event)"
    ></div>
</div>

