<ng-container *ngIf="property && filter">
    <tr *ngFor="let item of items, let i = index">
        <td>{{ recordNumber(i) }}</td>
        <td *ngFor="let element of property.elements" >
            <div style="min-width: 100px;" *ngIf="item[element.id] || false === item[element.id]">
                <span *ngIf="element.fieldType == 'FIELD_TYPE_TEXT' || element.fieldType == 'FIELD_TYPE_NUMBER'">
                    {{ item[element.id] }}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_TEXTAREA'">
                    {{ item[element.id].toString().substring(0, 20) }}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_FIXED_LIST' || element.fieldType == 'FIELD_TYPE_DYNAMIC_LIST'">
                    {{ item[element.id][element.optionItemName] }}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_CHECKBOX'">
                    {{ (item[element.id] === true ?"Yes":"No") }}
                </span>
            </div>
            
        </td>
        <td>
            <div style="width: 100px">
                <a (click)="edit(item[property.idField])" class="btn btn-warning btn-sm" style="margin-right: 5px;">
                    <i class="fas fa-edit"></i>
                </a>
                <a (click)="deleteRecord(item[property.idField])" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </td>
    </tr>
</ng-container>
