<ng-container *ngIf="property && filter">
    <tr *ngFor="let item of items, let i = index">
        <td> 
            {{recordNumber(i) }}
        </td>
        <td>
            <a class="edit-icon-next-to-number" (click)="edit(item[property.idField])"  >
                <i class="fas fa-edit"></i>
            </a> 
        </td>
        <td *ngFor="let element of property.elements" >
            <div style="min-width: 100px;" *ngIf="item[element.id] || false === item[element.id]">
                <span *ngIf="displayedAsText(element)">
                    {{ item[element.id] }}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_TEXTAREA'">
                    {{ item[element.id].toString().substring(0, 20) }}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_DATE'">
                    {{ dateString(item[element.id])}}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_DATETIME'">
                    {{ dateTimeString(item[element.id])}}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_PLAIN_LIST'">
                    {{ (item[element.id])}}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_IMAGE' &&  item[element.id] && item[element.id].length > 0">
                    <img  width="50" height="50" src={{imagePath(item[element.id])}}/>
                    <span > ({{item[element.id].length }}) </span>
                </span>
                <span *ngIf="element.optionItemName !== undefined">
                    {{ item[element.id][element.optionItemName] }}
                </span>
                <span *ngIf="element.fieldType == 'FIELD_TYPE_CHECKBOX'">
                    {{ (item[element.id] === true ?"Yes":"No") }}
                </span>
            </div>
            
        </td>
        <td>
            <div style="width: 100px">
                <a *ngIf="property.editable === true" (click)="edit(item[property.idField])" class="btn btn-warning btn-sm" style="margin-right: 5px;">
                    <i class="fas fa-edit"></i>
                </a>
                <a *ngIf="property.editable === true"  (click)="deleteRecord(item[property.idField])" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                </a>
            </div>
        </td>
    </tr>
</ng-container>
